.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.item {
  width: 30%;
  height: 90%;
  margin: 10px 2%;
  border-radius: 30px;
  background-color: #46466e;
  /* background: rgba(70, 70, 110, 0.86);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.6px);
    -webkit-backdrop-filter: blur(11.6px); */
  filter: drop-shadow(0 0 0.1rem black);
  cursor: pointer;
}

.img {
  width: 70px;
  margin-top: 25px;
  margin-left: 40px;
  filter: drop-shadow(0 0 0.1rem black);
}

.item p {
  color: white;
  font-size: 20px;
  margin-top: 0;
  margin-left: 40px;
}
