.item-wrapper {
  width: 100%;
  margin: 0 auto;
}

.hide-desk {
  display: inherit;
}

.item-container {
  width: 100%;
  min-height: 60px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  text-align: center;
  background-color: #eeeeee;
  border-radius: 15px;
  /* padding: 10px 10px; */
  cursor: pointer;
  box-shadow: 2px 0 5px -1px #888;
}

.item-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.item-header p {
  margin: 15px 20px;
  font-size: 18px;
}

.item-data {
  width: 80%;
  height: 0px;
  overflow: hidden;
  margin: 0 auto;
  transition: height ease 0.4s;
}

.item-data p {
  min-width: 90%;
  background-color: #fff;
  margin: 15px 10px 15px 0;
  padding: 10px 10px;
  border-radius: 10px;
  text-align: left;
  font-size: 14px;
}

.hide-mob {
  display: none;
}

.data-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  border: none;
}

.data-row p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  /* width: 200px; */
  width: 100%;

  margin: 0 20px;
  /* border: 2px solid; */
}

.desktop-row {
  border-bottom: 2px solid gray;
  margin: 5px auto;
  background-color: #eee;
}

.actions {
  display: inline-flex;
}

.actions img {
  height: 16px;
  margin: 0 auto;
  cursor: pointer;
}

@media only screen and (max-width: 1007px) {
  .hide-mob {
    display: inherit;
  }

  .hide-desk {
    display: none;
  }
}
