.pagination-container {
  width: 80%;
  margin: 0 auto;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul.pagination {
  width: 100%;
  margin: 20px auto;
  list-style: none;
  text-align: center;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

li.page-item {
  display: inline-flex;
  align-items: center;
  background-color: #eee;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  border-radius: 50%;
  cursor: pointer;
}

.page-link {
  margin: 0 auto;
  font-size: 16px;
  color: black;
}

li.active-link {
  background-color: #d1e9d2;
}

@media only screen and (max-width: 1007px) {
  .pagination-container {
    width: 90%;
    align-items: center;
    justify-content: space-between;
  }

  .page-item {
    margin: 0 5px;
  }

  li.page-item {
    display: inline-flex;
    align-items: center;
    background-color: #eee;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    border-radius: 50%;
    cursor: pointer;
  }

  li.active-link {
    background-color: #d1e9d2;
  }
}
